/* common css */
/* ====================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,500&display=swap');

body{
    margin: 0;
    /* font-family: 'Montserrat', sans-serif !important; */
    background: rgb(203,203,216);
    background: linear-gradient(90deg, rgba(203,203,216,1) 0%, rgba(155,237,254,1) 100%);
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a,
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}

.btn:focus{
    outline: none;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.active:hover{
    color: #fff;
    background-color: #2C3A47;
    text-shadow: 0 0 3px #2C3A47;
}
.box {
    width: 200px;
    height: 150px;
    background: tomato;
    margin: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    font-size: 30px;
}

.options {
    position: absolute;
    width: 160px;
    background: beige;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.6s;
    scale: 0;
}

.options li:nth-child(2) {
    margin-top: 10px;
}
.sh{
    transition: all 0.6s;
    scale: 1;
    top: 65px;    
}
tr.act{
    background-color: gainsboro;
}
li.active{
    width:100%;
}
li.active a{
    background: gray;
    color:white;
}
td.prod_img {
    width: 100px;
    height: 100px;
}

table img {
    width: 100%;
}
.container-fluid.bg-info {
    padding: 15px;
}
.col-9.load-item {
    min-height: 700px;
}
/* toggle */
input.toggle-checkbox{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 10px;
    height: 14px;
    width: 25px;
    border: 1px solid #999;
    vertical-align: -2px;
    margin: 0 3px 0 0;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
            
}

input.toggle-checkbox:focus{
    outline: none;
}

input.toggle-checkbox:checked{
    background-color: green;
}


input.toggle-checkbox:before{
    content: '';
    transform: rotate(-45deg);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    opacity: 1;
    border: none;
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transform: translateX(0) translateY(0) rotate(0);
}

input.toggle-checkbox:checked:before{
    background-color: #fff;
    left: 11px;
}
/* toggle ends */

img.img-fluid {
    filter: drop-shadow(5px 5px 15px black);
    border-radius:50%;
}
.fa{
    cursor: pointer;
    font-size: 20px;
    transition: all 0.6s;
}
.fa:hover{
    transition: all 0.6s;
    color:tomato;
}